---
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import OverHeader from '@/components/OverHeader.astro';
import Layout from '@/layouts/Layout.astro';
import componentsData from '../../assets/ui/components.json';
import FeatureCard from '@/components/ui/FeatureCard.astro';
import ProductCard from '@/components/ui/ProductCard.astro';
import Footer from '@/components/Footer.astro';

const productsData = componentsData['sistema-de-recuperacion-de-testigos'];

const featureCards = [
  {
    icon: '/shared/award_star.svg',
    title: 'Alta precisión y durabilidad',
  },
  {
    icon: '/shared/manufacturing.svg',
    title: 'Diseño optimizado para minería',
  },
  {
    icon: '/shared/search.svg',
    title: 'Soluciones personalizadas',
  },
  {
    icon: '/shared/acute.svg',
    title: 'Stock permanente y entrega rápida',
  },
];
const productCards = productsData.internalCards;
---

<Layout title="Explofy - Productos">
  <OverHeader />
  <Header />
  <Hero
    title={productsData.title}
    subtitle="Tecnología de vanguardia para optimizar operaciones"
    backgroundImage={productsData.backgroundImage || '/hero-bg.svg'}
    showCard={productsData.card}
  />

  <section class="py-[clamp(4rem,8vw,4rem)]">
    <div class="container-fluid">
      <div class="w-full text-center mb-[clamp(4rem,8vw,4rem)]">
        <h2
          class="text-[clamp(1.5rem,3vw,1.875rem)] font-bold mb-[clamp(1.5rem,3vw,3rem)] mt-[clamp(1.5rem,3vw,1.5rem)]"
        >
          {productsData.title}
        </h2>
        <p
          class="text-gray-700 text-[clamp(0.875rem,1.5vw,1rem)] font-medium leading-relaxed"
        >
          {productsData.subtitle}
        </p>
      </div>
      <!-- Feature Cards -->
      <div class="w-full">
        <div
          class="flex flex-col md:flex-row justify-between gap-[clamp(1.5rem,3vw,3rem)] w-full mb-[clamp(4rem,8vw,4rem)]"
        >
          {
            featureCards.map((card) => (
              <div class="flex-1 p-[clamp(1.5rem,3vw,1.5rem)] flex justify-center">
                <FeatureCard icon={card.icon} title={card.title} />
              </div>
            ))
          }
        </div>
      </div>
      <!-- Product Cards Grid -->
      <div
        class="grid grid-cols-2 md:grid-cols-2 xl:grid-cols-3 gap-[clamp(1.5rem,3vw,3rem)] w-full"
      >
        {
          productCards.map((card) => (
          
              <ProductCard
                image={card.image}
                title={card.title}
                description={card.subtitle}
                buttonText={card.button}
              />
            
          ))
        }
      </div>
    </div>
  </section>
  <Footer />
</Layout>
